body, html { margin: 0; padding: 0; width: 100%; height: 100%; font-family: -apple-system, sans-serif; background-color: #fdf6f6; }
#map { width: 100vw; height: 100vh; z-index: 1; }

#buscador-container { position: absolute; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000; width: 90%; max-width: 400px; background: #ffe4e1; padding: 10px; border-radius: 20px; box-shadow: 0 4px 10px rgba(0,0,0,0.15); }
#buscador-input { width: 90%; padding: 10px; border: none; border-radius: 10px; outline: none; font-size: 16px; display: block; margin: 0 auto; }
#buscador-resultados { list-style: none; margin: 0; padding: 0; background: white; border-radius: 10px; margin-top: 5px; max-height: 150px; overflow-y: auto; }
#buscador-resultados li { padding: 10px; border-bottom: 1px solid #eee; cursor: pointer; }

#leyenda { position: absolute; bottom: 90px; right: 15px; z-index: 1000; background: #fffafa; border-radius: 15px; box-shadow: 0 4px 6px rgba(0,0,0,0.15); color: #555; border: 2px solid #ffd1dc; width: 190px; overflow: hidden; transition: max-height 0.3s ease; max-height: 400px; }
#leyenda.leyenda-plegada { max-height: 42px; }
#leyenda-cabecera { padding: 10px 15px; cursor: pointer; background: #ffe4e1; }
.titulo-leyenda { margin: 0; color: #d63384; font-size: 15px; display: flex; justify-content: space-between; align-items: center; }
#leyenda-lista { list-style: none; margin: 0; padding: 0; max-height: 250px; overflow-y: auto; }
#leyenda-lista li { padding: 10px 15px; border-bottom: 1px solid #ffd1dc; cursor: pointer; font-size: 13px; }

#controles-inferiores { position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); z-index: 1000; display: flex; gap: 15px; }
button { background: #ffd1dc; color: #555; border: none; padding: 12px 20px; border-radius: 25px; font-size: 15px; font-weight: bold; box-shadow: 0 4px 6px rgba(0,0,0,0.2); cursor: pointer; }

/* Diseño Pop-up Forzado */
.leaflet-popup-content-wrapper { border-radius: 15px !important; width: 300px !important; }
.leaflet-popup-content { width: 280px !important; margin: 10px !important; }
.popup-container { display: flex; flex-direction: column; }
.popup-imagen { width: 100%; height: 160px; object-fit: cover; border-radius: 8px; margin-bottom: 10px; }
.popup-texto { font-size: 14px; line-height: 1.5; color: #333; max-height: 200px; overflow-y: auto !important; white-space: normal !important; }