body, html { margin: 0; padding: 0; width: 100%; height: 100%; font-family: sans-serif; overflow: hidden; }
#map { width: 100vw; height: 100vh; z-index: 1; }

#buscador-container { position: absolute; top: 15px; left: 15px; z-index: 1000; width: 220px; }
#buscador-input { width: 100%; padding: 10px; border-radius: 20px; border: 2px solid #ffd1dc; box-sizing: border-box; }
#buscador-resultados { list-style: none; padding: 0; margin-top: 5px; background: white; border-radius: 10px; max-height: 150px; overflow-y: auto; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
#buscador-resultados li { padding: 10px; border-bottom: 1px solid #eee; cursor: pointer; font-size: 14px; }

#leyenda { position: absolute; top: 80px; right: 15px; z-index: 1000; background: #fffafa; border-radius: 15px; width: 190px; max-height: 400px; overflow-y: auto; border: 2px solid #ffd1dc; transition: max-height 0.3s; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }
#leyenda-cabecera { padding: 10px; cursor: pointer; background: #ffd1dc; border-radius: 13px 13px 0 0; }
.titulo-leyenda { margin: 0; color: #555; text-align: center; }
#leyenda-lista { list-style: none; padding: 0; margin: 0; }
#leyenda-lista li { padding: 10px; border-bottom: 1px solid #eee; cursor: pointer; color: #555; font-size: 14px; }
.leyenda-plegada { max-height: 40px !important; overflow: hidden !important; }

.leaflet-popup-content-wrapper { border-radius: 15px !important; width: 280px !important; }
.popup-imagen { width: 100%; height: 150px; object-fit: cover; border-radius: 8px; }
.popup-texto { font-size: 14px; max-height: 180px; overflow-y: auto; margin-top: 10px; color: #333; line-height: 1.4; }

#controles-inferiores { position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); z-index: 1000; display: flex; gap: 10px; }
button { background: #ffd1dc; color: #555; border: none; padding: 10px 15px; border-radius: 20px; font-weight: bold; cursor: pointer; box-shadow: 0 4px 6px rgba(0,0,0,0.2); }